body {
    background-color: #000;
}

.navbar {
    z-index: 2; /*Notification list should be on top of landing header*/
    position: relative;
}

.landing-front {
    z-index: 1;
    position: relative;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 20vh; /* 40vh */
}

#landing-header h1 {
    color: #fff;
    text-shadow: 1px 1px 2px black;
}

.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
    background-image: url(https://live.staticflickr.com/4027/4312501994_cb8a1ba403_b.jpg) 
}
.slideshow li:nth-child(2) { 
    background-image: url(https://live.staticflickr.com/6124/5965680173_a9937f5f40_b.jpg);
    animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
    background-image: url(https://live.staticflickr.com/130/418180402_d5fb8a8713.jpg);
    animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
    background-image: url(https://live.staticflickr.com/8388/8553577856_18e90b60b5_b.jpg);
    animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
    background-image: url(https://live.staticflickr.com/2289/2272656387_48fc336979_b.jpg);
    animation-delay: 40s; 
}

@keyframes imageAnimation { 
    0% { 
        opacity: 0; 
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1
    }
    30% {
        opacity: 0
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}